//GLOBAL VARS
$red: #D81F26;
$background: #141414;
$black: #000000;
$grey: #f5f5f1;
$white: #ffffff;

//Global elements
html {
  color: $white;
  background-color: $background;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.RoundButton {
  margin: 0 1em;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $white;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 2px solid $red;
  border-radius: 3em;
  font-size: 1em;
  font-weight: 600;
  transition: border .125s ease, background .125s ease;

  &:hover {
	background: $red;

  }

}

/*Header, footer and common components*/
.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  height: 5vh;
  padding: 2em;
  z-index: 10;
}

.Logo {
  width: 15%;
  height: 100%;
  transition: margin .25s ease;
}

.SVGlogo {
  width: 100%;
  height: 100%;
  transition: margin .25s ease;
}

.SVGlogo:hover {
  cursor: pointer;
  margin-top: 2px;
  filter: brightness(50);
}

.Navigation {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;

  nav {
	ul {
	  display: flex;
	  width: 100%;
	  justify-content: space-between;
	  align-items: center;
	  padding: 0 10px;
	  list-style-type: none;

	  li {
		font-size: 18px;
		font-weight: 400;
		padding: 10px 20px;
		transition: .125s ease;
		border-radius: 5px;
		color: $white;
		text-align: center;

		&:hover {
		  background: $red;
		  cursor: pointer;
		}
	  }
	}
  }
}

.Header-Search {
  flex: 1 1 auto;
  height: 100%;
  display: flex;

  form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  input {
	font-weight: 300;
	font-size: 14px;
	height: 75%;
	width: 80%;
	background: transparent;
	color: $white;
	border: 2px solid rgba($white, .5);
	outline: none;
	border-radius: 5em;
	padding: 0 5%;
	transition: border .25s ease, width .125s ease .125s;

	&:focus {
	  border: 2px solid $red;
	  width: 95%;
	}
  }
}

.User {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
	width: 35%;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	transition: .125s ease;
	border-radius: 2px;
	color: $white;
	cursor: pointer;
	padding: 10px 5px;

	&:hover {
	  background: $red;
	}
  }
}


/*Landing page*/
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Hero {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
  height: 60vh;


  .HeroContainer {
	display: flex;
	flex-direction: row;
	width: 85%;

	.TextContainer {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	  align-items: center;
	  max-width: 70%;

	  .HeroLogo {
		height: 40%;

		img {
		  max-width: 90%;
		}
	  }

	  .Title {
		display: flex;
		align-items: center;
		height: 20%;

		h1 {
		  font: 'Lato', sans-serif; //todo mooi fontje maken :D
		  color: $white;
		  font-size: 3em;
		}
	  }

	  .Info {
		height: 25%;
		font-size: 1.75vw;
	  }

	  .Buttons {
		height: 15%;
		display: flex;
		flex-direction: row;
		align-items: center;

		a {
		  margin: 0 1em;
		  cursor: pointer;
		  background: transparent;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  text-decoration: none;
		  color: $white;
		  padding: 10px 40px;
		  height: 60%;
		  box-sizing: border-box;
		  border: 2px solid $red;
		  border-radius: 3em;
		  font-size: 1.25em;
		  font-weight: 600;
		  transition: border .125s ease, background .125s ease;

		  &:hover {
			background: $red;

		  }
		}
	  }
	}

	.PhotoContainer {
	  display: flex;
	  justify-content: center;
	  flex: 0 0 auto;
	  max-width: 40%;

	  img {
		height: 100%;
	  }
	}
  }
}

.MovieContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
	.MovieContainerHeader {
	  display: flex;
	  flex-direction: row;
	  align-items: baseline;
	  font-size: 1.5em;

	  a {
		margin: 0 1em;
		cursor: pointer;
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: $white;
		padding: 5px 30px;
		box-sizing: border-box;
		border: 2px solid $red;
		border-radius: 3em;
		font-size: 1em;
		font-weight: 600;
		transition: border .125s ease, background .125s ease;

		&:hover {
		  background: $red;

		}
	  }
	}

	.MovieContainerBody {
	  display: flex;
	  width: 90vw;

	  .MovieDetails {
		width: 25%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.MovieTitle {
		  a {
			margin: 0 1em;
			cursor: pointer;
			background: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: $white;
			padding: 10px 30px;
			box-sizing: border-box;
			border: 2px solid $red;
			border-radius: 3em;
			font-size: 1em;
			font-weight: 600;
			transition: border .125s ease, background .125s ease;

			&:hover {
			  background: $red;

			}
		  }
		}
	  }
	}
  }
}


//Search page
.SearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;


  form {
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2vh;
  }

  input {
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	height: 75%;
	width: 50%;
	background: transparent;
	color: $white;
	border: 2px solid rgba($white, .5);
	outline: none;
	border-radius: 5em;
	transition: border .25s ease, width .125s ease .125s;

	&:focus {
	  border: 2px solid $red;
	  width: 95%;
	}
  }

  .RoundButton {
	width: 30%;
	border: $white 2px solid;

	&:hover {
	  color: $black;
	  background: $grey;
	}
  }
}

.SearchResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchResultContainer {
  margin-top: 5vh;
  display: flex;
  width: 95%;


  .SearchResult {
	width: 100%;
	display: flex;
	flex-direction: row;

	.SearchResult_Poster {
	  display: flex;
	  justify-content: center;
	  width: 30%;

	  img {
		object-fit: contain;
		width: 90%;
		height: 90%;
	  }
	}

	.SearchResult_Information {
	  width: 70%;
	  display: flex;
	  flex-direction: column;

	  .SearchResult_Title {
		height: 15%;
		display: flex;
		text-decoration: underline;
	  }

	  .SearchResult_Details {
		height: 80%;
		display: flex;
		flex-direction: row;

		h2 {
		  font-size: 1.5vw;
		}

		.SearchResult_Details_List {
		  width: 50%;
		  padding-right: 2vw;

		  ul {
			padding-left: 0;
			list-style-type: none;
			font-size: 1vw;
			line-height: 2;
		  }
		}


		.SearchResult_Details_Right {
		  width: 50%;

		  .SearchResult_Details_Description {
			display: flex;
			flex-direction: column;

			p {
			  font-size: 1vw;

			  a {
				color: $red;
				cursor: pointer;
			  }
			}
		  }
		}

		.SearchResults_ButtonBox {
		  display: flex;


		  a {
			margin-top: 2vh;
			margin-left: 0;
			width: 40%;

			&:first-child {
			  border: 2px solid $grey;

			  &:hover {
				color: $black;
				background: $grey;
			  }
			}
		  }
		}
	  }
	}
  }
}