//GLOBAL VARS
$red: #D81F26;
$background: #141414;
$black: #000000;
$grey: #f5f5f1;
$white: #ffffff;

//Global elements
html {
  color: $white;
  background-color: $background;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.RoundButton {
  margin: 0 1em;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $white;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 2px solid $red;
  border-radius: 3em;
  font-size: 1em;
  font-weight: 600;
  transition: border .125s ease, background .125s ease;

  &:hover {
	background: $red;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}